@keyframes moving {
    0% {
      transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
  }
.path-animation {
  animation: moving 3s ease-in-out forwards infinite;
}
.animated-svg{
  width: 100%;
  height: 80%;
}